.button-div{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    border: 1px solid black;
}

.gridItem{
    aspect-ratio: 1;
}


div{
    color: blue;
}

